Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
src/test/resources/application-test.yml
.factorypath
bin/
allure-results/
GEMINI.md
local_demo/
examples/
docker-compose.yml
*.zip
